<!doctype html>
<head>
	<!-- Angular JS and Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">

	<!-- Geocoding API -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq-zy5xLU92E9vukEt4sQBK11T_JmCT24&signed_in=true&libraries=places&callback=initialize" async defer></script>

	<!-- Scripts to find location and coordinates -->
	<script type="text/javascript" src="clarifai-basic.js"></script>
	<script type="text/javascript" src="training.js"></script>
	<script type="text/javascript" src="locate.js"></script>
	<script type="text/javascript" src="q.js"></script>

	<!-- Travel Info scripts -->
  <script src="chart1/Chart.js"></script>
  <script src="draw-graph.js"></script>  
	<script type="text/javascript" src="travel_info.js"></script>


	<!-- Main App -->
  <script src="app.js"></script>
	<link rel="stylesheet" href="style.css">

</head>
<body ng-app="MyApp" ng-controller="AppCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<div id="title-div">
	    <h2>
	      <span>PicturIN</span>
	    </h2>
	    </div>
	  </div>
	</md-toolbar>
</md-toolbar>
  <div id="main-div">
		<div id="outer-whiteframe-div">
			<md-whiteframe class="md-whiteframe-z1" layout="" layout-align="center center">
				<div id="inner-whiteframe-div">
					<div id="content-div">
				    <form id="image_form" ng-show="show_image_form">
				    	<label>Upload a Photo to Start Planning Your Trip!</label><br>
			    		<md-input-container>
			          <label>Image URL</label>
			          <input ng-model="image.url">
			    		</md-input-container>
			    		<md-button class="md-raised left-align-btn" ng-click="uploadImage()">Upload</md-button>
				    </form>
				    <!-- Display Uploaded Image -->
				    <div id="image-div" ng-show="show_uploaded_image">
			    		<img id="image" ng-src="{{image_src}}" alt="Incorrect Image Format" />
			    		<md-button class="md-raised left-align-btn" ng-click="sendImage()">Get Location</md-button>
			    	<md-button class="md-raised left-align-btn" ng-click="reset()">Cancel</md-button>
				    </div>
	    	    <!-- Display Location Name -->
	    	    <div id="image-div" ng-show="show_image_location">
	        		<img id="image" ng-src="{{image_src}}" alt="Incorrect Image Format" />
	        		<label id="location_name_label">Loading...</label><br>
	        		<md-button class="md-raised left-align-btn" ng-click="showDetailsForm()">Plan Trip</md-button>
	        	<md-button class="md-raised left-align-btn" ng-click="reset()">Cancel</md-button>
	    	    </div>
	    	    <!-- Trip Details Form -->
				    <form id="trip_form" name="trip_form" ng-show="show_trip_form">
			    		<md-input-container>
			          <label>Departing City (Ex: NYC)</label>
			          <input ng-model="trip.origin" required maxlength="3" minlength="3">
			    		</md-input-container>
			    		<md-input-container>
			          <label>Duration</label>
			          <input type="number" ng-model="trip.duration" min="1" max="15" required>
			    		</md-input-container>
			    		<label>Departure Dates</label><br>
			    		<md-input-container>
			    			<label>Earliest Date</label>
			    			<input ng-model="trip.date_start" type="text" id="datepicker_start">
			    		</md-input-container>
			    		<md-input-container>
			    			<label>Latest Date</label>
			    			<input ng-model="trip.date_end" type="text" id="datepicker_end">
			    		</md-input-container>
			    		<!-- <md-datepicker ng-model="trip.date_start" md-placeholder="Enter date"></md-datepicker><br>
			    		and<br>
			    		<md-datepicker ng-model="trip.date_end" md-placeholder="Enter date"></md-datepicker><br> -->
			    		<!-- <input type="submit" id="submit" value="Submit" class="md-raised left-align-btn"/> -->
				    	<md-button class="md-raised left-align-btn" ng-click="getTravelInfo()" ng-disabled="trip_form.$invalid">Submit</md-button>

				    	<md-button class="md-raised left-align-btn" ng-click="reset()">Cancel</md-button>
				    </form>
				    <!-- Graph Canvas -->
				    <div id="canvas-div" ng-show="show_canvas">
					    <canvas id="myChart" width="500" height="600"></canvas>
				    	<md-button class="md-raised left-align-btn" ng-click="reset()">Cancel</md-button>
				    </div>
				  </div>
			 	</div>
		  </md-whiteframe>
	  </div>
  </div>
  <div id="map" ng-show="show_map"></div>
</body>
