#main-div{
	padding-top: 30px;
	text-align: center;
}

#title-div{
	padding-left: 30px;
}

#outer-whiteframe-div{
	width: 600px;
	display: inline-block;
}

#inner-whiteframe-div{
	padding-top: 50px;
	padding-bottom: 50px;
}

#content-div{
	width: 500px;
	text-align: left;
}

.left-align-btn{
	margin-left: 0
}

#image{
	width: 100%;
}